body {
    font-family: Georgia, Times, serif;
    color: purple;
    background-color: #d8da3d
}
h1,h2 {
    font-family: Helvetica, Arial;
    font-size: 70px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
h2 {
    font-size: 30px;
}
div#titlescreen {
    width: 100%;
    position: absolute;
    top: 30%;
}
img {
    width: 100%;
}
p {
    text-align: center;
    font-size: 20px;
}
a.option {
    width: 38%;
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
div.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} 
div.middle {
    position: absolute;
    top: 30%;
    width: 100%;
}